<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCSTelemetryServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCSTelemetryServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <SCSTelemetryServer.Properties.Settings>
            <setting name="EnableOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWeb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSerial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDrivingHours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRadio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirETS2" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Euro Truck Simulator 2</value>
            </setting>
            <setting name="DirATS" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\American Truck Simulator</value>
            </setting>
            <setting name="SerialBaud" serializeAs="String">
                <value>14400</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>1711</value>
            </setting>
            <setting name="SerialCOM" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="WebIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </SCSTelemetryServer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SCSTelemetryServer.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1.0</value>
            </setting>
            <setting name="Pluginx84" serializeAs="String">
                <value>.\bin\win_x86\plugins\</value>
            </setting>
            <setting name="Pluginx64" serializeAs="String">
                <value>.\bin\win_x64\plugins\</value>
            </setting>
        </SCSTelemetryServer.Properties.Settings>
    </applicationSettings>
</configuration>